Repository gardener/gardener-resource-manager, pull requests merged in 2020-05, with the labels that each got.

#51 Fix falsy health checks
  cmd/gardener-resource-manager/app/app.go
  pkg/apis/resources/v1alpha1/types.go
  pkg/controller/managedresources/controller.go
  pkg/controller/managedresources/health/health_controller.go
  pkg/controller/managedresources/sort.go
  pkg/controller/managedresources/sort_test.go
  pkg/predicate/class_changed.go
  pkg/predicate/class_changed_test.go
  pkg/predicate/condition_status.go
  pkg/predicate/condition_status_test.go
  pkg/predicate/or.go
  pkg/predicate/or_test.go
  pkg/predicate/predicate.go
  pkg/predicate/predicate_suite_test.go
Labels: needs/ok-to-test

#46 add annotation with warning for managed resources
  pkg/controller/managedresources/controller.go
  pkg/controller/managedresources/merger.go
  pkg/controller/managedresources/merger_test.go
Labels: needs/ok-to-test, reviewed/lgtm

#53 Fix failing merger test
  pkg/controller/managedresources/merger_test.go
Labels: kind/test, needs/ok-to-test, reviewed/lgtm

#54 Remove finalizers from secret when reference is removed
  cmd/gardener-resource-manager/app/app.go
  pkg/controller/managedresources/controller.go
  pkg/controller/managedresources/filter.go
  pkg/controller/managedresources/secret_controller.go
  pkg/controller/managedresources/secret_controller_test.go
  pkg/controller/utils/context.go
  pkg/mapper/mapper_suite_test.go
  pkg/mapper/to_mr.go
  pkg/mapper/to_mr_test.go
  pkg/mapper/to_secret.go
  pkg/mapper/to_secret_test.go
  pkg/predicate/has_finalizer.go
  pkg/predicate/has_finalizer_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/lgtm

#55 Prevent errors to be logged multiple times
  pkg/controller/managedresources/controller.go
  pkg/controller/managedresources/health/health_controller.go
  pkg/controller/managedresources/secret_controller.go
  pkg/controller/managedresources/secret_controller_test.go
Labels: needs/ok-to-test, reviewed/lgtm
